<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Your IP</title>
  <link rel="shortcut icon" type="image/png" href="favicon.png" />
  <style>
    html, body {
      height: 100%;
    }
    body {
      align-items: center;
      background-color: black;
      color: white;
      display: flex;
      font-family: monospace;
      font-size: 38px;
      justify-content: center;
      margin: 0;
    }
  </style>
</head>
<body>
  <div>
    <%= ip %>
  </div>
</body>
</html>
